<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<form method="post">
    <label>user name:</label><input type="text" name="username" placeholder="please input your name"><br>
    <label>passward:</label><input type="password" name="password" placeholder="please input your passward"><br>
    <label>confirm passward:</label><input type="password" name="password2" placeholder="please confirm your password"><br>
    <input type="submit" value="register">
</form>

</body>
</html>