<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>{{ "<em>hello</em>" |safe }}</h1>
<h1>{{ [1,2,3,4] | first}}</h1>
<h1>{{ [1,2,3,4] | last}}</h1>
<h1>{{ [1,2,3,4] | sum}}</h1>
<h1>{{ [1,2,3,4,5,6,7,8,9,10] | slice2}}</h1>
<h1>{{ [1,2,3,4,5,6,7,8,9,10] | slice3}}</h1>
<h1>{{ 'hello' |upper }}</h1>
<h1>{{ 'hello' |upper }}</h1>
<h1>{{ 'hello' |upper }}</h1>
<h1>{{ "HELLO" |lower }}</h1>
<h1>{{ "hello" |capitalize }}</h1>

</body>
</html>